.App {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
}
input.form-control:focus,
select.form-select:focus,
textarea.form-control:focus {
  border-color: var(--color-border);
  box-shadow: 0 0 0 0.3rem var(--color-shadow);
}
